// mixins
@mixin svgStyle {
  .svg {
    width: 20px;
    height: 20px;

    path {
      fill: #afafaf;
    }
  }
}

@mixin svgActive {
  .svg {
    path {
      fill: #ffffff;
    }
  }
}

// sidenav
.sidenav {
  width: 17%;
  font-size: 13px;
  max-width: 100%;
  background-color: #000000;
  color: #afafaf;

  .nav {
    .play {
      align-items: center;

      .button {
        background: linear-gradient(to bottom, #126631, #022e12);
        border-radius: 50px;
        font-size: 12.5px;
        padding-top: 7px;
        padding-bottom: 6px;
        color: #ffffff;
      }

      @include svgStyle;
    }

    .items {
      .item {
        align-items: center;

        @include svgStyle;

        .svg--liked {
          path {
            fill: #a80a0a;
          }
        }
      }

      .item--active {
        background-color: #ffffff1a;
        color: #ffffff;
        border-radius: 5px;

        @include svgActive;
      }
    }

    .playlists {
      .heading {
        font-size: 12.5px;
        letter-spacing: -0.25px;
        color: #353535;
        font-weight: bold;
      }
    }
  }
}
