.home {
  &__wrapper {
    .sidenav {
      width: 15%;
      font-size: 13px;
      position: relative;
      max-width: 100%;

      &__playTitleBtn {
        background: linear-gradient(to bottom, #126631, #022e12);
        border-radius: 50px;
        font-size: 12.5px;
        padding-top: 7px;
        padding-bottom: 6px;
      }

      &__playlistsTitle {
        font-size: 12px;
        letter-spacing: 0px;
        color: #524f4f;
        font-weight: bold;
      }

      .divider {
        background: #2b2b2b;
        height: 1px;
        border-radius: 0.7px;
      }
    }

    .main {
      width: 60%;
    }

    .right {
      width: 25%;
    }
  }
}
