@tailwind base;
@tailwind components;
@tailwind utilities;

/* import local fonts */
@layer base {
  @import url("./assets/fonts/fonts.css");
}

body {
  margin: 0;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
